
<h2>Hosts</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Operating System</th>
            <th>Containers</th>
            <th>IP</th>
            <th>CPU</th>
            <th>Memory</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="host in hosts">
            <td title="{{host.ID}}">{{ host.Name}}</td>
			<td>{{ host.OperatingSystem }}</td>
            <td>{{ host.Containers }}</td>
            <td>{{ host.IP}}</td>
            <td>{{ host.NCPU }}</td>
            <td>{{ host.MemTotal|memory}}</td>
        </tr>
    </tbody>
</table>
